<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.multi.drd.member.MemberDTO" alias="member"/>
		<typeAlias type="com.multi.drd.memberbio.MemberBioDTO" alias="memberBio"/>
		<typeAlias type="com.multi.drd.exercise.ExerciseDTO" alias="exercise"/>
		<typeAlias type="com.multi.drd.routine.RoutineDTO" alias="routine"/>
		<typeAlias type="com.multi.drd.personalroutine.PersonalRoutineDTO" alias="personalRoutine"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/multi/drd/mybatis/member.xml"/>
		<mapper resource="com/multi/drd/mybatis/memberBio.xml"/>
		<mapper resource="com/multi/drd/mybatis/test.xml"/>
		<mapper resource="com/multi/drd/mybatis/routine.xml"/>
		<mapper resource="com/multi/drd/mybatis/dashboard.xml"/>
		<mapper resource="com/multi/drd/mybatis/personalroutine.xml"/>
	</mappers>
</configuration>