<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
	<typeAliases>
		<typeAlias type="com.multi.drd.member.MemberDTO" alias="member"/>
		<typeAlias type="com.multi.drd.memberbio.MemberBioDTO" alias="memberBio"/>
		<typeAlias type="com.multi.drd.exercise.ExerciseDTO" alias="exercise"/>
		<typeAlias type="com.multi.drd.routine.RoutineDTO" alias="routine"/>
		<typeAlias type="com.multi.drd.personalroutine.PersonalRoutineDTO" alias="personalRoutine"/>
		<typeAlias type="com.multi.drd.cardio.CardioDTO" alias="cardio"/>
		<typeAlias type="com.multi.drd.fitness.FitnessDTO" alias="fitness"/>
		<typeAlias type="com.multi.drd.goal.GoalDTO" alias="goal"/>
		<typeAlias type="com.multi.drd.food.FoodDTO" alias="food"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/multi/drd/mybatis/member.xml"/>
		<mapper resource="com/multi/drd/mybatis/memberBio.xml"/>
		<mapper resource="com/multi/drd/mybatis/test.xml"/>
		<mapper resource="com/multi/drd/mybatis/routine.xml"/>
		<mapper resource="com/multi/drd/mybatis/dashboard.xml"/>
		<mapper resource="com/multi/drd/mybatis/personalroutine.xml"/>
		<mapper resource="com/multi/drd/mybatis/cardio.xml"/>
		<mapper resource="com/multi/drd/mybatis/fitness.xml"/>
		<mapper resource="com/multi/drd/mybatis/goal.xml"/>
		<mapper resource="com/multi/drd/mybatis/food.xml"/>
		<mapper resource="com/multi/drd/mybatis/record.xml"/> <!-- Record는 mongoDB이지만, cardio, fitness 등 다른 사람과 겹치는 부분이 있어서 따로 구현함. -->
	</mappers> 	 
	
	
</configuration>