@charset "UTF-8"; 

#calendar {
    margin: 0 auto;
  } 
  
 .event-read{
 	width: 80% !important;
 	height: 120% !important;
 }

.inputs{
	text-align: right;	
	border: 0; 
	width: 50%
	
} 

select {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}